<!DOCTYPE html>
<html>
<head>
  <title>Dig Vargas</title>
  
</head>
<body>

	<div class="container">
	<div class="row" id="header">
  <h2>Dig Vargas</h2>
  </div>

  <div class="row" id="linkDivGroup">
  	<div class="linkDiv" id="link1">
      <a href="http://thedig.github.io" target="blank"><%= image_tag("github2.jpg", :class => "logo_image") %></a>
  	</div>
  	<div class="linkDiv" id="link2">
  		<a href="http://beartask.net" target="blank"><%= image_tag("BearTask-logo.png", :class => "logo_image") %></a>
  	</div>
  	<div class="linkDiv" id="link3">
  		<a href="http://www.linkedin.com/in/digvargas" target="blank"><%= image_tag("linkedin.jpg", :class => "logo_image") %></a>
  	</div>
  </div>
	</div>
</body>
</html>
