/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#linkDivGroup{
	left: 30px;
}

.linkDiv {
	padding: 10px;
	text-align: center;
	margin: 10px;
	width: 250px;
	height: 160px;
	background-color: lightgray;
	border-radius: 3px;
	display: inline-block;
}

.logo_image {
	height: 100%;
}
